#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.password-input-wrapper{
  position: relative;
}

.password-input-wrapper span{
  position: absolute;
  top: 30%;
  right: 3%;
}
span .icon{
  font-size: 1.3rem;

}
.form-control{
  margin-top: 0.3rem !important;
  margin-bottom: 1rem !important;
}

.form-control:focus {
  box-shadow: none !important;
  border: 1px solid black !important;
  /* outline:2px solid var(--Strawberryred) ; */
  outline: none !important;
}